# ClusterIssuer for Let's Encrypt certificates
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: homelab-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: artem.v.filinov@gmail.com # Replace with your email
    privateKeySecretRef:
      name: homelab-issuer-key
    solvers:
    - http01:
        ingress:
          class: nginx